@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url("./bootstrap-icons.css");


section.hud .hud-advice-item {
    border-top-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

section.hud .hud-advice-item.achieve-alert {
    background: rgba(27, 49, 36, 0.8);
}

section.hud .hud-advice-item.achieve-alert:after {
    background-color: #27ae60;
}

section.hud {
    font-family: "Raleway", sans-serif !important;
    color: #fff;
}

section.hud .bg-radial-top-left-hud {
    position: absolute;
    top: 0;
    left: 0;
    background: radial-gradient(100% 100% at 100% 100%, rgba(6, 10, 16, 0.5) 0, rgba(6, 10, 16, 0) 100%);
    width: 33.28125vw;
    height: 23.64583333vw;
    transform: rotate(-180deg);
}

section.hud .bg-radial-top-right-hud {
    top: 0;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

section.hud .bg-radial-bottom-right-hud,
section.hud .bg-radial-top-right-hud {
    position: absolute;
    right: 0;
    background: radial-gradient(100% 100% at 100% 100%, rgba(6, 10, 16, 0.5) 0, rgba(6, 10, 16, 0) 100%);
    width: 23.54166667vw;
    height: 17.60416667vw;
}

section.hud .bg-radial-bottom-right-hud {
    bottom: 0;
}

section.hud .hud-top-left {
    position: absolute;
    transform-origin: left top;
}

section.hud .hud-chat {
    width: 30.72916667vw;
    margin-top: 1.04166667vw;
    margin-left: 1.04166667vw;
}

section.hud .hud-chat .hud-chat-history-wrap {
    height: 30vh;
    overflow: auto;
    margin-bottom: 0.625vw;
}

section.hud .hud-chat .hud-chat-history-wrap::-webkit-scrollbar {
    display: none;
}

section.hud .hud-chat .hud-chat-history-wrap .hud-chat-history-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 0.3125vw;
}

section.hud .hud-chat .hud-chat-history-wrap .hud-chat-history-item:last-of-type {
    margin-bottom: 0;
}

section.hud .hud-chat .hud-chat-history-wrap .hud-chat-history-item p {
    font-weight: 500;
    font-size: 0.83333333vw;
}

section.hud .hud-chat .hud-chat-history-wrap .hud-chat-history-item p.message {
    line-height: 1.2;
}

section.hud .hud-chat .hud-chat-history-wrap .hud-chat-history-item p.time {
    white-space: nowrap;
}

section.hud .hud-chat .hud-chat-history-wrap .hud-chat-history-item p.name {
    white-space: nowrap;
    margin-left: 0.20833333vw;
    margin-right: 0.20833333vw;
}

section.hud .hud-chat .hud-write-message {
    width: 26.04166667vw;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: hsla(0, 0%, 100%, 0.2);
    border: 0.05208333vw solid hsla(0, 0%, 100%, 0.4);
    height: 2.5vw;
    border-radius: 0.20833333vw;
}

section.hud .hud-chat .hud-write-message input {
    border: 0;
    width: 100%;
    height: 100%;
    padding-left: 1.04166667vw;
    padding-right: 0.52083333vw;
    color: #fff;
    font-size: 0.83333333vw;
    font-weight: 500;
    background-color: transparent;
}

section.hud .hud-chat .hud-write-message input::placeholder {
    font-size: 0.83333333vw;
    font-weight: 500;
    color: hsla(0, 0%, 100%, 0.5);
}

section.hud .hud-chat .hud-write-message button {
    width: 2.5vw;
    height: 2.5vw;
    opacity: 0.5;
    font-size: 0;
}

section.hud .hud-chat .hud-write-message button img {
    width: 1.25vw;
    height: 1.25vw;
    pointer-events: none;
    user-select: none;
    transform-origin: left bottom;
    transition: all 0.33s ease-in-out;
    -webkit-transition: all 0.33s ease-in-out;
    -moz-transition: all 0.33s ease-in-out;
}

section.hud .hud-chat .hud-write-message button:hover {
    opacity: 1;
}

section.hud .hud-chat .hud-write-message button:hover img {
    transform: translateX(2px);
}

section.hud .hud-chat .hud-extra-radiobutton-item input {
    display: none;
}

section.hud .hud-chat .hud-extra-radiobutton-item label {
    font-weight: 500;
    font-size: 0.72916667vw;
}

section.hud .hud-extra-radiobutton-wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0.3125vw;
}

section.hud .hud-extra-radiobutton-wrap .hud-extra-radiobutton-item {
    margin-right: 0.83333333vw;
}

section.hud .hud-extra-radiobutton-wrap .hud-extra-radiobutton-item:last-of-type {
    margin-right: 0;
}

section.hud .hud-extra-radiobutton-wrap .hud-extra-radiobutton-item input {
    display: none;
    opacity: 0;
    text-indent: -3000em;
}

section.hud .hud-extra-radiobutton-wrap .hud-extra-radiobutton-item input:checked+label {
    color: #fff;
    text-shadow: 0 0.05208333vw 0.52083333vw rgba(0, 0, 0, 0.6);
}

section.hud .hud-extra-radiobutton-wrap .hud-extra-radiobutton-item input:checked+label:hover {
    color: #fff;
}

section.hud .hud-extra-radiobutton-wrap .hud-extra-radiobutton-item input:not(checked)+label {
    color: hsla(0, 0%, 100%, 0.4);
    text-shadow: 0 0.05208333vw 0.52083333vw rgba(0, 0, 0, 0.6);
}

section.hud .hud-extra-radiobutton-wrap .hud-extra-radiobutton-item input:not(checked)+label:hover {
    color: hsla(0, 0%, 100%, 0.6);
}

section.hud .hud-extra-radiobutton-wrap .hud-extra-radiobutton-item label {
    transition: all 0.33s ease-in-out;
    -webkit-transition: all 0.33s ease-in-out;
    -moz-transition: all 0.33s ease-in-out;
    cursor: pointer;
}

section.hud .hud-money-candy {
    margin-bottom: 0.52083333vw;
    display: flex;
    align-items: center;
    border-radius: 5.20833333vw;
    background-color: hsla(0, 0%, 100%, 0.10196078431372549);
    height: 1.5625vw;
    padding: 0 0.36458333vw;
    box-sizing: border-box;
}

section.hud .hud-money-candy img {
    width: 0.9375vw;
    margin-right: 0.36458333vw;
}

section.hud .hud-money-candy span {
    font-size: 0.78125vw;
    font-family: Gilroy Bold, sans-serif !important;
}


section.hud .hud-money-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10px;
    top: 200px;
}


section.hud .hud-money-wrapper .money-wrap {
    margin-right: 0.3125vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

section.hud .hud-money-wrapper .money-wrap>i {}

section.hud .hud-money-wrapper .money-wrap .p-big {
    font-weight: 500;
    font-size: 1.25vw;
    text-shadow: 0 0.20833333vw 5.20833333vw #22285f;
    margin-bottom: 0.3125vw;
    text-shadow: 0 4px 13px rgba(0, 0, 0, 0.6);
}

section.hud .hud-money-wrapper .money-wrap .p-small {
    font-weight: 400;
    font-size: 0.83333333vw;
    color: #fff;
    text-shadow: 0 4px 13px rgba(0, 0, 0, 0.6);
}

section.hud .hud-location-wrapper {
    flex-direction: column;
    position: absolute;
    bottom: 0.9375vw;
    left: 320px;
    transform-origin: left bottom;

}

section.hud .hud-location-wrapper>.hud-eat-wrapper {
    width: 100%;
}



section.hud .hud-location-wrapper,
section.hud .hud-location-wrapper .hud-money-wrapper {
    display: flex;
    align-items: flex-start;
}

section.hud .hud-location-wrapper .hud-money-wrapper .hud-raised-money {
    margin-right: auto;
    display: flex;
    align-items: flex-start;
    padding: 0.26041667vw;
    border-radius: 0.20833333vw;
    background: rgba(20, 27, 31, 0.8);
}

section.hud .hud-location-wrapper .hud-money-wrapper .hud-raised-money p {
    margin: 0;
    font-size: 0.72916667vw;
    text-shadow: 0 4px 13px rgba(0, 0, 0, 0.6);
}

section.hud .hud-location-wrapper .hud-money-wrapper .hud-raised-money img {
    width: 0.72916667vw;
    height: 0.36458333vw;
    pointer-events: none;
    user-select: none;
    margin-left: 0.20833333vw;
    font-size: 0;
}

section.hud .hud-location-wrapper .text-wrap {
    position: relative;

}

section.hud .hud-location-wrapper .text-wrap>div:first-child {
    margin-top: 0.41666667vw;
}

section.hud .hud-location-wrapper .text-wrap .location-area {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.625vw;
    background: linear-gradient(90deg, rgba(20, 27, 31, 0.7), rgba(20, 27, 31, 0));
    border-radius: 0.3125vw;
}

section.hud .hud-location-wrapper .text-wrap .location-area.green-area p.p-green {
    display: block;
}

section.hud .hud-location-wrapper .text-wrap .location-area.green-area p.p-green span {
    color: #27ae60;
}

section.hud .hud-location-wrapper .text-wrap .location-area.green-area .icon-wrap.green-area-icon {
    display: block;
}

section.hud .hud-location-wrapper .text-wrap .location-area.green-area .icon-wrap.green-area-icon img {
    position: relative;
    z-index: 10;
}

section.hud .hud-location-wrapper .text-wrap .location-area.red-area p.p-red {
    display: block;
}

section.hud .hud-location-wrapper .text-wrap .location-area.red-area p.p-red span {
    color: #eb5757;
}

section.hud .hud-location-wrapper .text-wrap .location-area.red-area .icon-wrap.red-area-icon {
    display: block;
}

section.hud .hud-location-wrapper .text-wrap .location-area.red-area .icon-wrap.red-area-icon img {
    position: relative;
    z-index: 10;
}

section.hud .hud-location-wrapper .text-wrap .location-area p {
    display: none;
    font-size: 0.83333333vw;
    color: #f2f2f2;
    line-height: 0.8;
    text-transform: uppercase;
}

section.hud .hud-location-wrapper .text-wrap .location-area p span {
    font-weight: 800;
}

section.hud .hud-location-wrapper .text-wrap .location-area .icon-wrap {
    width: 1.5625vw;
    height: 1.5625vw;
    display: none;
}

section.hud .hud-location-wrapper .text-wrap .location-area .icon-wrap img {
    width: 100%;
    height: 100%;
    z-index: 10;
    font-size: 0;
    pointer-events: none;
    user-select: none;
}

section.hud .hud-location-wrapper .text-wrap .location-area .icon-wrap.active {
    display: block;
}

section.hud .hud-location-wrapper .text-wrap .location-area .icon-wrap.active img {
    position: relative;
    z-index: 10;
}

section.hud .hud-location-wrapper .text-wrap .downline {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    flex-shrink: 0;
    align-items: center;
    margin-top: 0.41666667vw;
    overflow: hidden;
    width: 150px;
}

section.hud .hud-location-wrapper .text-wrap .downline>div:first-child {
    margin-right: 0.41666667vw;
}

section.hud .hud-location-wrapper .text-wrap .downline>div:last-child {
    margin-right: 0;
}

section.hud .hud-location-wrapper .mic-wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53px;
    height: 53px;
    background: rgba(20, 27, 31, 0.6);
    border-radius: 5px;
}

.custom-wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(20, 27, 31, 0.6);
    border-radius: 0.3125vw;
}


section.hud .hud-location-wrapper .text-wrap .mic-wrap .icon-wrap {
    display: none;

}

section.hud .hud-location-wrapper .text-wrap .mic-wrap .icon-wrap img {
    width: 100%;
    height: 100%;
    pointer-events: none;
    user-select: none;
}

section.hud .hud-location-wrapper .text-wrap .mic-wrap.off .mic-off,
section.hud .hud-location-wrapper .text-wrap .mic-wrap.on .mic-on {
    display: block;
}

section.hud .hud-location-wrapper .text-wrap .address-wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0.3125vw;
    gap: 5px;
    overflow: hidden;
}

section.hud .hud-location-wrapper .text-wrap .address-wrap i {
    font-size: 18px;
}

section.hud .hud-location-wrapper .text-wrap .address-wrap .p-big {
    font-weight: 600;
    font-size: 12px;

}

section.hud .hud-location-wrapper .text-wrap .address-wrap .p-descr {
    margin: 0;
    color: #f2f2f2;
    font-weight: 400;
    font-size: 16px;
}

section.hud .value-key-location-wrap {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    border-radius: 0.3125vw 0 0 0.3125vw;
    padding: 0.83333333vw 0.52083333vw 0.83333333vw 0;
}

section.hud .value-key-location-wrap:before {
    content: "";
    width: 100%;
    height: 120%;
    position: absolute;
    left: 0.52083333vw;
    top: -0.72916667vw;
    filter: blur(2.60416667vw);
    background-color: rgba(0, 0, 0, 0.5333333333333333);
}

section.hud .value-key-location-item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1.35416667vw;
    padding-left: 0.78125vw;
}

section.hud .value-key-location-item:last-of-type {
    margin-bottom: 0;
}

section.hud .value-key-location-item .p-value {
    position: absolute;
    right: 2.1875vw;
    font-weight: 900;
    font-size: 0.72916667vw;
    text-transform: uppercase;
    min-width: 5px;
}

section.hud .value-key-location-item .icon-wrap {
    width: 1.25vw;
    height: 1.25vw;
    margin-left: 0.52083333vw;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.hud .value-key-location-item .icon-wrap img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
}

section.hud .hud-interaction-wrapper {
    justify-content: flex-start;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

section.hud .hud-interaction-wrapper,
section.hud .hud-interaction-wrapper .circle-wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
}

section.hud .hud-interaction-wrapper .circle-wrap {
    justify-content: center;
    position: relative;
    width: 3.02083333vw;
    height: 3.02083333vw;
    border-radius: 50%;
}

section.hud .hud-interaction-wrapper .circle-wrap>div {
    position: absolute;
    width: 3.02083333vw;
    height: 3.02083333vw;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

section.hud .hud-interaction-wrapper .circle-wrap .circle-small {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 2.1875vw;
    height: 2.1875vw;
    border: 0.10416667vw solid hsla(0, 0%, 100%, 0.22);
    border-radius: 50%;
}

section.hud .hud-interaction-wrapper .circle-wrap p {
    font-weight: 700;
    font-size: 1.25vw;
    text-shadow: 0 0.20833333vw 5.20833333vw #22285f;
    text-transform: uppercase;
}

section.hud .hud-interaction-wrapper .p-value {
    font-weight: 500;
    font-size: 0.9375vw;
    text-shadow: 0 0.20833333vw 5.20833333vw #22285f;
    margin-left: 1.25vw;
}

section.hud .hud-top-right {}

.stars {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.rate-area {
    float: left;
    border-style: none;
    display: flex;
    gap: 5px;
    margin: 0 !important;
}

.rate-area>.star {
    font-size: 24px !important;
}

.rate-area>.wanted {
    color: gold !important;
}



.hud-top-right {
    position: absolute;
    top: 10px;
    right: 0px;
    width: 100%;
    max-width: 180px;
    justify-content: right;
    font-family: "Exo", sans-serif;
}

.hud-top-right>.left {
    color: #efefef;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;

}

.hud-top-right>.right {
    color: #efefef;
    display: grid;
    grid-template-columns: auto auto;
    width: 132px;
    max-width: 132px;
}

.hud-top-right>.right>.hud-top-logo {}

.padding-auto {
    padding: 0 5px;
}

.hud-top-right>.left>.first {
    grid-column: 2;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    letter-spacing: 2px;
}

.hud-top-right>.left>.second {
    grid-column: 2;
    font-weight: bold;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
}

.other-color {
    color: yellow;
}

.hud-top-right>.left>.third {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.additional-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 2px;
}

section.hud .hud-main-info {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

section.hud .hud-main-info>* {
    margin-left: 0.625vw;
}

section.hud .hud-main-info> :first-child {
    margin-left: 0;
}

section.hud .hud-main-info .hud-main-info-date {
    border-radius: 0.3125vw;
    height: 1.45833333vw;
    background: rgba(20, 27, 31, 0.4);
    padding: 0.41666667vw 0.52083333vw;
}

section.hud .hud-main-info .hud-main-info-date .p-date {
    font-weight: 400;
    font-size: 0.83333333vw;
    color: #fff;
}

section.hud .hud-main-info .hud-main-info-extra {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.41666667vw 0 0.41666667vw 0.52083333vw;
    height: 1.45833333vw;
    background: rgba(20, 27, 31, 0.4);
    border-radius: 0.3125vw;
}

section.hud .hud-main-info .hud-main-info-extra>* {
    margin-right: 0.625vw;
}

section.hud .hud-main-info .hud-main-info-extra> :last-child {
    margin-right: 0;
}

section.hud .hud-main-info .hud-main-info-extra .hud-mount-user {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

section.hud .hud-main-info .hud-main-info-extra .hud-mount-user img {
    width: 1.04166667vw;
    height: 1.04166667vw;
    margin-right: 0.41666667vw;
}

section.hud .hud-main-info .hud-main-info-extra .hud-mount-user .text-wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

section.hud .hud-main-info .hud-main-info-extra .hud-mount-user .text-wrap p {
    position: relative;
    font-weight: 400;
    font-size: 0.83333333vw;
    margin-right: 1.04166667vw;
    color: #fff;
}

section.hud .hud-main-info .hud-main-info-extra .hud-mount-user .text-wrap p:last-of-type {
    margin-right: 0;
}

section.hud .hud-main-info .hud-main-info-extra .hud-mount-user .text-wrap p:last-of-type:after {
    display: none;
}

section.hud .hud-main-info .hud-main-info-extra .hud-mount-user .text-wrap p:after {
    content: "/";
    display: block;
    position: absolute;
    font-weight: 400;
    font-size: 0.83333333vw;
    color: #fff;
    margin-top: -1px;
    right: -0.46875vw;
    top: 50%;
    transform: translate(50%, -50%);
}

section.hud .hud-main-info .hud-main-info-extra .p-admin {
    font-weight: 700;
    font-size: 0.83333333vw;
    color: #f04d26;
    text-transform: uppercase;
}

section.hud .hud-main-info .hud-main-info-extra .p-id {
    font-weight: 400;
    font-size: 0.83333333vw;
    text-transform: uppercase;
}

section.hud .hud-main-info .hud-main-info-extra .p-id span {
    font-weight: 700;
}

section.hud .hud-main-info .hud-main-info-extra .mini-logo {
    height: 1.45833333vw;
    width: 1.45833333vw;
    background: rgba(20, 27, 31, 0.8);
    border-radius: 0 0.3125vw 0.3125vw 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.hud .hud-main-info .hud-main-info-extra .mini-logo img {
    width: 0.9375vw;
    height: 0.625vw;
}

section.hud .hud-main-info .p-time {
    font-weight: 700;
    font-size: 1.25vw;
}

section.hud .hud-quest-line-wrapper {
    margin-top: 1.25vw;
}

section.hud .hud-quest-line-wrapper .title-row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0.41666667vw;
}

section.hud .hud-quest-line-wrapper .title-row .p-title {
    font-weight: 700;
    font-size: 1.04166667vw;
}

section.hud .hud-quest-line-wrapper .title-row .icon-wrap {
    width: 1.14583333vw;
    height: 1.14583333vw;
    margin-left: 0.52083333vw;
}

section.hud .hud-quest-line-wrapper .title-row .icon-wrap img {
    width: 100%;
    height: 100%;
}

section.hud .hud-quest-line-wrapper .hud-quest-line-wrap .hud-quest-line-item {
    margin-bottom: 0.41666667vw;
    cursor: pointer;
}

section.hud .hud-quest-line-wrapper .hud-quest-line-wrap .hud-quest-line-item:last-of-type {
    margin-bottom: 0;
}

section.hud .hud-quest-line-wrapper .hud-quest-line-wrap .hud-quest-line-item .hud-quest-line-row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

section.hud .hud-quest-line-wrapper .hud-quest-line-wrap .hud-quest-line-item .hud-quest-line-row .p-title {
    font-weight: 400;
    font-size: 0.83333333vw;
    color: #fff;
}

section.hud .hud-quest-line-wrapper .hud-quest-line-wrap .hud-quest-line-item .hud-quest-line-row .icon-wrap {
    position: relative;
    width: 1.14583333vw;
    height: 1.14583333vw;
    margin-left: 0.52083333vw;
}

section.hud .hud-quest-line-wrapper .hud-quest-line-wrap .hud-quest-line-item .hud-quest-line-row .icon-wrap img {
    width: 100%;
    height: 100%;
    pointer-events: none;
    user-select: none;
}

section.hud .hud-quest-line-wrapper .hud-quest-line-wrap .hud-quest-line-item .hud-quest-line-row .hud-quest-count-wrap {
    margin-left: 0.20833333vw;
    background-color: hsla(0, 0%, 100%, 0.2);
    padding: 0.20833333vw 0.41666667vw;
    border-radius: 0.26041667vw;
}

section.hud .hud-quest-line-wrapper .hud-quest-line-wrap .hud-quest-line-item .hint-text {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.26041667vw 0.41666667vw;
    border-radius: 0.20833333vw;
    background: hsla(0, 0%, 100%, 0.2);
    margin: 0.15625vw 0;
}

section.hud .hud-quest-line-wrapper .hud-quest-line-wrap .hud-quest-line-item .hint-text p {
    font-size: 0.72916667vw;
    color: hsla(0, 0%, 100%, 0.87);
}

section.hud .hud-quest-line-wrapper .hud-quest-line-wrap .hud-quest-line-item.done .hud-quest-line-row .p-title {
    text-decoration: line-through;
    color: hsla(0, 0%, 100%, 0.4);
    font-size: 0.83333333vw;
    font-weight: 400;
}

section.hud .hud-quest-line-wrapper .hud-quest-line-wrap .hud-quest-line-item.done .hud-quest-line-row .icon-wrap:after {
    display: block;
}

section.hud .hud-quest-line-wrapper .hud-quest-line-wrap .hud-quest-line-item.not-executed .hud-quest-line-row .icon-wrap {
    opacity: 0.2;
}

section.hud .hud-small-dialog {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 50%;
    margin-right: 50%;
    width: max-content;
    position: absolute;
}

section.hud .hud-small-dialog .small-dialog-wrapper {
    background: rgba(20, 27, 31, 0.7);
    border-radius: 0.3125vw;
    padding: 1.5625vw 1.5625vw 1.04166667vw;
}

section.hud .hud-small-dialog .small-dialog-wrapper .small-dialog-wrap {
    width: 14.32291667vw;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 10;
}

section.hud .hud-small-dialog .small-dialog-wrapper .small-dialog-wrap .p-title {
    font-weight: 700;
    font-size: 1.25vw;
    text-align: center;
}

section.hud .hud-small-dialog .small-dialog-wrapper .small-dialog-wrap .button-wrap {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.66666667vw;
}

section.hud .hud-small-dialog .small-dialog-wrapper .small-dialog-wrap .button-wrap a,
section.hud .hud-small-dialog .small-dialog-wrapper .small-dialog-wrap .button-wrap button {
    height: 2.91666667vw;
    width: 47%;
}

section.hud .hud-big-dialog {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: max-content;
    height: max-content;
    position: absolute;
    top: 50%;
    left: 50%;
}

section.hud .hud-big-dialog .big-dialog-wrapper {
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    background: rgba(20, 27, 31, 0.7);
    border-radius: 0.3125vw;
    padding: 1.5625vw 1.5625vw 1.04166667vw;
}

section.hud .hud-big-dialog .big-dialog-wrapper .big-dialog-wrap {
    width: 14.32291667vw;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 10;
}

section.hud .hud-big-dialog .big-dialog-wrapper .big-dialog-wrap .p-title {
    font-weight: 700;
    font-size: 1.25vw;
    text-align: center;
}

section.hud .hud-big-dialog .big-dialog-wrapper .big-dialog-wrap .button-wrap {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.66666667vw;
}

section.hud .hud-big-dialog .big-dialog-wrapper .big-dialog-wrap .button-wrap a,
section.hud .hud-big-dialog .big-dialog-wrapper .big-dialog-wrap .button-wrap button {
    height: 2.91666667vw;
    width: 47%;
}

section.hud .btn-white-transparent {
    background: hsla(0, 0%, 100%, 0.05);
    border: 0.05208333vw solid hsla(0, 0%, 100%, 0.3);
}

section.hud .btn-white-transparent,
section.hud .hud-main-btn {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.20833333vw;
}

section.hud .btn-white-transparent p,
section.hud .hud-main-btn p {
    font-weight: 800;
    font-size: 0.9375vw;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

section.hud .hud-speedometer {
    position: absolute;
    right: 1.66666667vw;
    bottom: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 12.8125vw;
    transform-origin: bottom right;
}

section.hud .hud-speedometer .circle-speedometer-wrap {
    width: 12.8125vw;
    height: 12.8125vw;
    position: relative;
}

section.hud .hud-speedometer .circle-speedometer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

section.hud .hud-speedometer .circle-speedometer .circle-wrap {
    width: 12.5vw;
    height: 6.25vw;
}

section.hud .hud-speedometer .circle-speedometer .circle-wrap>div {
    position: absolute;
    width: 12.5vw;
    height: 6.25vw;
    bottom: -2.08333333vw;
    left: 3.125vw;
    transform: rotate(-60deg);
    transform-origin: left bottom;
}

section.hud .hud-speedometer .circle-speedometer .block-rotate {
    transform: rotate(-60deg);
    transform-origin: left bottom;
    width: 12.5vw;
    height: 6.25vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

section.hud .hud-speedometer .circle-speedometer .in-speed-wrapper {
    justify-content: flex-start;
}

section.hud .hud-speedometer .circle-speedometer .in-speed-wrapper,
section.hud .hud-speedometer .circle-speedometer .in-speed-wrapper .in-speed-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    flex-direction: column;
}

section.hud .hud-speedometer .circle-speedometer .in-speed-wrapper .in-speed-wrap {
    justify-content: center;
}

section.hud .hud-speedometer .circle-speedometer .in-speed-wrapper .in-speed-wrap .in-speed-opacity {
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -1.875vw;
}

section.hud .hud-speedometer .circle-speedometer .in-speed-wrapper .in-speed-wrap .in-speed-opacity p {
    font-style: italic;
    font-weight: 800;
    font-size: 3.125vw;
    color: hsla(0, 0%, 100%, 0.3);
}

section.hud .hud-speedometer .circle-speedometer .in-speed-wrapper .in-speed-wrap .in-speed-opacity span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-style: italic;
    font-weight: 800;
    font-size: 3.125vw;
    color: #fff;
}

section.hud .hud-speedometer .circle-speedometer .in-speed-wrapper .p-descr {
    position: absolute;
    bottom: 1.45833333vw;
    font-style: italic;
    font-size: 1.25vw;
    color: hsla(0, 0%, 100%, 0.4);
    margin-top: 0;
}

section.hud .hud-speedometer .petrol-wrap {
    position: relative;
    width: 6.25vw;
    height: 12.8125vw;
    margin-right: -3.125vw;
    margin-bottom: -1.51041667vw;
}

section.hud .hud-speedometer .petrol-wrap .petrol-level {
    position: absolute;
    width: 6.25vw;
    height: 12.8125vw;
    font-size: 0;
}

section.hud .hud-speedometer .petrol-wrap .petrol-level img {
    width: 100%;
    height: 100%;
}

section.hud .hud-speedometer .petrol-wrap .icon-wrap {
    position: absolute;
    right: -0.72916667vw;
    top: 0;
    width: 1.25vw;
    height: 1.25vw;
}

section.hud .hud-speedometer .petrol-wrap .icon-wrap img {
    width: 100%;
    height: 100%;
}

section.hud .hud-speedometer .petrol-wrap .icon-wrap i {
    display: block;
    font-style: italic;
    font-weight: 700;
    font-size: 0.83333333vw;
    color: #fff;
    transform: rotate(-8.25deg);
    position: absolute;
    right: -2.08333333vw;
    top: -0.52083333vw;
}

section.hud .hud-speedometer .other-value-wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 0;
    bottom: 0.36458333vw;
}

section.hud .hud-speedometer .other-value-wrap .other-value-item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.83333333vw;
}

section.hud .hud-speedometer .other-value-wrap .other-value-item:last-of-type {
    margin-bottom: 0;
}

section.hud .hud-speedometer .other-value-wrap .other-value-item img {
    width: 1.25vw;
    height: 1.25vw;
    opacity: 0.2;
    margin-right: 0.3125vw;
}

section.hud .hud-speedometer .other-value-wrap .other-value-item p {
    font-style: italic;
    font-weight: 900;
    font-size: 0.72916667vw;
    text-align: center;
    text-transform: uppercase;
}

section.hud .hud-speedometer .other-value-wrap .other-value-item.active img {
    opacity: 1;
}

section.hud .hud-notification-info-short {
    padding: 1.45833333vw 1.25vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100px;
    background: rgba(20, 27, 31, 0.7);
    border-radius: 0.3125vw;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

section.hud .hud-notification-info-short img {
    opacity: 0.4;
    width: 1.25vw;
    height: 1.25vw;
    margin-right: 0.83333333vw;
}

section.hud .hud-notification-info-short p {
    font-size: 0.72916667vw;
    line-height: 1.2;
    text-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
    width: 9.94791667vw;
}

section.hud .hud-notification-info-big {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 5.41666667vw 3.64583333vw 3.64583333vw;
    background: linear-gradient(180deg, rgba(20, 27, 31, 0), rgba(20, 27, 31, 0.5));
}

section.hud .hud-notification-info-big .p-big {
    font-weight: 700;
    font-size: 3.125vw;
    margin-bottom: 0.625vw;
    text-align: center;
}

section.hud .hud-notification-info-big .p-descr {
    font-weight: 700;
    font-size: 0.9375vw;
    text-shadow: 0 24.7975px 80.592px rgba(0, 0, 0, 0.6);
    text-align: center;
}

section.hud .hud-advice-item .text-wrap .p-descr,
section.hud .hud-advice-item.v2 .text-wrap .p-title {
    line-height: 1.32;
    word-break: break-all;
}

section.hud .hud-advice-item .text-wrap .p-title {
    line-height: 1.4;
    margin: 0 !important;
}

.hud-dialog-btn {
    background: linear-gradient(131deg, #f39654, #e83d40 60.42%, #be1622);
    box-shadow: 0 5.28986px 52.8986px rgba(240, 38, 38, 0.55);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.2083vw;
}

.hud-dialog-btn p {
    font-weight: 800;
    font-size: 0.9375vw;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.v2 .hud-main-btn {
    background: linear-gradient(131deg, #f39654, #e83d40 60.42%, #be1622);
    box-shadow: 0 5.28986px 52.8986px rgba(240, 38, 38, 0.55);
    border-radius: 0.2083vw;
}

.v2 .btn-white-transparent,
.v2 .hud-main-btn {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.v2 .btn-white-transparent {
    background: hsla(0, 0%, 100%, 0.05);
    border: 0.052083vw solid hsla(0, 0%, 100%, 0.3);
    border-radius: 0.2083vw;
}

.magazine-gun {
    margin-top: 0.3125vw;
}

.fullness-magazine-wrap,
.magazine-gun {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.fullness-magazine-wrap {
    margin-right: 0.625vw;
}

.fullness-magazine-item {
    width: 0.52083333vw;
    height: 1.45833333vw;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.41666667vw;
}

.fullness-magazine-item object {
    width: 100%;
    height: 100%;
}

.magazine-wrapper {
    padding: 0.26041667vw 0.26041667vw 0.26041667vw 0.83333333vw;
    background: linear-gradient(90deg, rgba(20, 27, 31, 0), rgba(20, 27, 31, 0.7));
    border-radius: 0.3125vw;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 2.60416667vw;
}

.magazine-wrapper .bullets-wrap {
    width: 0.72916667vw;
    height: 0.83333333vw;
    margin-right: 0.625vw;
}

.magazine-wrapper .bullets-wrap object {
    width: 100%;
    height: 100%;
}

.magazine-wrapper .nums-wrap {
    display: flex;
    align-items: flex-start;
    margin-right: 0.41666667vw;
}

.magazine-wrapper .nums-wrap .p-big {
    font-weight: 600;
    font-size: 1.25vw;
    text-shadow: 0 0.20833333vw 1.04166667vw #202236;
    margin-right: 0.72916667vw;
    text-transform: uppercase;
}

.magazine-wrapper .nums-wrap .p-of {
    position: relative;
    font-size: 0.83333333vw;
    color: hsla(0, 0%, 100%, 0.7);
    text-shadow: 0 0.20833333vw 1.04166667vw #202236;
}

.magazine-wrapper .nums-wrap .p-of:before {
    content: "";
    position: absolute;
    display: block;
    left: -0.3125vw;
    top: 0.05208333vw;
    width: 0.05208333vw;
    height: 0.625vw;
    min-width: 1px;
    background: hsla(0, 0%, 100%, 0.7);
}

.magazine-wrapper .img-gun-wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.08333333vw;
    height: 2.08333333vw;
    background: rgba(20, 27, 31, 0.7);
    border-radius: 0.3125vw;
}

.magazine-wrapper .img-gun-wrap img {
    width: 1.45833333vw;
    height: 1.45833333vw;
    object-fit: cover;
}

.bonus-sumka p {
    padding: 0 0.729165vw;
    text-align: center;
    font-size: 0.729165vw;
    font-weight: 400;
    text-transform: uppercase;
}

.bonus-sumka p strong {
    font-weight: 800;
}

.bonus-sumka p.time {
    font-size: 0.9375vw;
    font-weight: 800;
}

.bonus-sumka .bonus-close {
    width: 0.520834vw;
    height: 0.520834vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0.41666667vw;
    top: 0.41666667vw;
    transition: all 0.33s ease-in-out;
    -webkit-transition: all 0.33s ease-in-out;
    -moz-transition: all 0.33s ease-in-out;
}

.bonus-sumka .bonus-close:hover {
    transform: scale(2);
}

.bonus-sumka .bonus-close img {
    width: 100%;
    height: 100%;
}

.icon-wrap img {
    width: 100%;
    height: 100%;
}

section.hud .hud-money-wrapper .money-wrap .p-big {
    text-shadow: 0 4px 13px rgba(0, 0, 0, 0.2) !important;
}

.bg-fam-battle-hud {
    width: 25vw;
    height: 25vw;
    background: radial-gradient(50% 50% at 50% 50%, #000 0, rgba(17, 20, 25, 0) 100%);
    opacity: 0.2;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fam-battle-hud-wrap {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 1.66666667vw 0 0;
    text-shadow: 0 0.10416667vw 0.52083333vw rgba(0, 0, 0, 0.14);
    flex-direction: column;
}

.count-battle,
.fam-battle-hud-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.count-battle p sup {
    font-size: 0.72916667vw;
    position: relative;
    top: -0.41666667vw;
    margin-left: 0.3125vw;
}

.progress-line {
    background: rgba(20, 27, 31, 0.2);
    padding: 0.20833333vw;
    width: 20.83333333vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 0;
}

.progress-line,
.progress-line i {
    border-radius: 15.625vw;
    transition: all 0.33s ease-in-out;
    -webkit-transition: all 0.33s ease-in-out;
    -moz-transition: all 0.33s ease-in-out;
}

.progress-line i {
    display: block;
    height: 0.20833333vw;
    background: #fff;
}

.progress-line.stopit {
    width: 10.41666667vw;
    box-shadow: 0 0 0 0.10416667vw #fff;
}

section.hud .hud-chat {
    width: 33.33333333vw !important;
    margin: 0 !important;
}

section.hud .hud-chat.battle-royal {
    width: 29.16666667vw !important;
}

section.hud .hud-advice-item .text-wrap .p-descr {
    line-height: 1.4 !important;
    font-weight: 500;
    font-size: 0.83333333vw !important;
    color: hsla(0, 0%, 100%, 0.7) !important;
    text-shadow: 0 0.05208333vw 0.52083333vw rgba(0, 0, 0, 0.6);
}

section.hud .hud-chat .hud-chat-history-wrap {
    height: 24vh !important;
    padding-top: 1.04166667vw !important;
    padding-left: 1.04166667vw !important;
}

.hud-extra-radiobutton-wrap,
.hud-write-message {
    margin-left: 1.04166667vw !important;
}

.action-wrapper-box {
    display: grid;
    grid-template-columns: 15.625vw 34.89583333vw;
    min-height: 26.61458333vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #141b1f;
    border-radius: 0.3125vw;
}

.action-wrapper-box>div {
    position: relative;
}

.action-wrapper-box>div.action-imagebox img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.3125vw 0 0 0.3125vw;
}

.action-wrapper-box>div.action-wrapper-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4.42708333vw 2.29166667vw;
}

.action-wrapper-box>div.action-wrapper-content strong {
    font-weight: 600;
}

.action-wrapper-box>div.action-wrapper-content>div {
    width: 100%;
    max-width: 21.66666667vw;
}

.action-title {
    font-family: TT Commons, sans-serif;
    font-style: italic;
    font-weight: 800;
    font-size: 2.29166667vw;
    text-transform: uppercase;
}

.action-title .icon-in-text {
    display: inline-block;
    position: relative;
    top: 0.10416667vw;
    margin: 0 0.3125vw;
}

.action-title .icon-in-text img {
    width: 1.66666667vw;
    height: 1.66666667vw;
}

.hud-switch-item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.625vw;
}

.hud-switch-item:last-of-type {
    margin-bottom: 0;
}

.hud-switch-item label.label-p {
    font-weight: 700;
    font-size: 0.83333333vw;
    margin-left: 0.83333333vw;
}

.hud-flex-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hud-flex-line.center {
    justify-content: center;
}

.hud-flex-line.right {
    justify-content: flex-end;
}

.hud-flex-line.left {
    justify-content: flex-start;
}

.system-alert {
    padding: 0.9375vw;
    background: linear-gradient(270deg, rgba(20, 27, 31, 0.7), rgba(20, 27, 31, 0));
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: auto;
    position: absolute;
    bottom: 0;
    right: 17.70833333vw;
    font-size: 0;
    z-index: 40;
}

section.hud .hud-advice-item .img-wrap {
    width: 1.25vw;
    height: 1.25vw;
    margin-right: 0.625vw;
    min-width: 1.25vw;
}

section.hud .hud-advice-item .img-wrap img {
    width: 100%;
}

section.hud .hud-advice-item .text-wrap .p-descr {
    color: hsla(0, 0%, 100%, 0.6) !important;
}

section.hud .hud-advice-item .text-wrap p {
    padding: 0.10416667vw 0 !important;
}

section.hud .hud-main-info>* {
    margin-left: 0.41666667vw !important;
}

section.hud .hud-main-info .p-time {
    position: relative !important;
    top: 0.2083vw !important;
}

section.hud .hud-location-wrapper .text-wrap .address-wrap .p-descr {
    position: relative;
    top: -0.10416667vw !important;
}

section.hud p {
    margin: 0 0 0 0;
}

@font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/newhud/Exo/Exo-Regular.ttf') format('truetype');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/newhud/Roboto/Roboto-Regular.ttf') format('truetype');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}





.money-wrap img {
    position: absolute;
    display: flex;
    width: 25px;
    left: 5px;
}

.hud-money-column {
    margin-left: 40px;
}

.mon {
    position: absolute;
    display: flex;
    width: 25px;
    left: 11px;
    font-size: 25px;
}

.changemoney {
    color: red;
    font-size: 17px;
}

.speedometer-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    right: 10px;
    bottom: 10px;
    opacity: 0;
}

.speedometer-card .percent {
    position: relative;
}

.speedometer-card svg {
    position: relative;
    width: 210px;
    height: 210px;
    transform: rotate(90deg);
}

.speedometer-card svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: rgba(0, 0, 0, 0.459);
    stroke-width: 10;
    stroke-linecap: round;
    --percent: 0;
}

.speedometer-card svg circle:last-of-type {
    stroke-dasharray: 625px;
    stroke-dashoffset: calc(625px - (625px * var(--percent)) / 100);
    stroke: #3498db;
}

.speedometer-card .number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    color: #f2f2f2 !important;
}

.speedometer-card .number h3 {
    font-weight: 500;
    font-size: 3.5rem;
}

.speedometer-card .number h3 span {
    font-size: 2rem;
}

.speedometer-card .title h2 {
    margin: 25px 0 0;
}

.speedometer-card:nth-child(1) svg circle:last-of-type {
    stroke: #f39c12;
}

.speedometer-card:nth-child(2) svg circle:last-of-type {
    stroke: #2ecc71;
}

.active {
    background-color: #2ecc71 !important;
    color: #000 !important;
}


.eat-water {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    max-width: 200px;
}


.eat-water>.eat>i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999999;
}

.eat-water>.water>i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999999;
}

.eat-water>.water {
    position: relative;
    height: 24px;
    background-color: #0e121588;
    display: flex;
    align-items: center;

    border-radius: .25rem;
    z-index: 999998;
}

.eat-water>.eat {
    position: relative;
    height: 24px;
    background-color: #0e121588;
    display: flex;
    align-items: center;

    border-radius: .25rem;
    z-index: 999998;
}

.eat-water>.water>.water-state {
    position: absolute;
    background-color: #3498db;
    width: 100% !important;
    height: 100%;
    border-radius: .25rem;
}

.eat-water>.eat>.eat-state {
    position: absolute;
    background-color: #f39c12;
    width: 100% !important;
    height: 100%;
    border-radius: .25rem;
}

.chips>img {
    margin-right: 5px;
}

.chips {
    font-weight: 500;
    font-size: 1.25vw;
    display: flex;
    align-items: center;

}